.holder {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    border-top: solid 1px #202020;
    padding-top: 2rem;
}

.companyInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    row-gap: 2rem;
    flex: 0.5;
}

.links a {
    text-decoration: none;
    transition: all 0.1s ease;
    cursor: pointer;
}

.links a:hover {
    color: var(--heading-color);
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .holder {
        flex-direction: column;
        gap: 5rem;
    }

    .companyInfo p {
        font-size: 14px;
        line-height: 24px;
    }

    .links {
        justify-content: space-between;
        padding-right: 2rem;
    }
}