.navbar {
	width: 100%;
	padding: 0 10rem;
	height: 15vh;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.navbar ul li {
	list-style: none;
}

.navbar a {
    transition: all 0.1s ease;
}

.navbar a:hover {
    color: var(--heading-color);
}

.logoText {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	color: white;
}

.hide {
	display: none !important;
}

.mobileNavbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobileNavbar div {
	margin-bottom: 8px;
	width: 2rem;
	height: 1px;
	background-color: white;
}

@media screen and (max-width: 960px) {
	.navbar {
		padding: 0 3rem;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0;
	}

	.navbar ul{
		display: none;
	}

	.mobileNavbar {
		display: flex !important;
	}
}
